MODULE NAME
    rhsm.config


CLASSES

    class RhsmConfigParser(iniparse.SafeConfigParser)


        __init__(self, config_file=None, defaults=None)

        save(self, config_file=None)

        get(self, section, prop)

FUNCTIONS

    initConfig(config_file=None)

VARIABLES

    DEFAULT_CONFIG_DIR = "/etc/rhsm"

    DEFAULT_CONFIG_PATH = "%s/rhsm.conf" % DEFAULT_CONFIG_DIR

    DEFAULT_PROXY_PORT = "3128"

    DEFAULTS = {'hostname': 'localhost', 'prefix': '/candlepin', 'port':...
